<nav id="navigation" class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-content">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.url }}/">Van Peer Development</a>
		</div>
		
		<div id="navbar-collapse-content" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li id="navbar-home"><a href="{{ site.url }}/"><i class="fa fa-home fa-fw"></i> Home</a></li>
				<li id="navbar-projects" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-list-ul fa-fw"></i> Projects <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="https://github.com/vanpeerdevelopment/builder">Eclipse Builder Plugin</a></li>
						<li><a href="https://github.com/vanpeerdevelopment/vanpeerdevelopment.github.io">Van Peer Development Blog</a></li>
					</ul>
				</li>
				<li id="navbar-social" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-comment fa-fw fa-flip-horizontal"></i> Social <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="https://github.com/vanpeerdevelopment"><i class="fa fa-github fa-fw"></i> GitHub</a></li>
						<li><a href="http://www.goodreads.com/dietervp"><i class="fa fa-book fa-fw"></i> Goodreads</a></li>
						<li><a href="{{ site.url }}/atom.xml"><i class="fa fa-rss fa-fw"></i> RSS Feed</a></li>
						<li><a href="mailto:dieter@vanpeerdevelopment.be"><i class="fa fa-envelope fa-fw"></i> Mail</a></li>	
					</ul>
				</li>				
			</ul>
			<form id="search" class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control "placeholder="Search">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
      		</form>
		</div>
	</div>
</nav>