<div id="social" class="row">
	<div class="col-md-12">
		<a class="btn btn-default btn-sm" href="https://github.com/vanpeerdevelopment">
			<i class="fa fa-github fa-lg"></i>
  		</a>
  		<a class="btn btn-default btn-sm" href="http://www.goodreads.com/dietervp">
			<i class="fa fa-book fa-lg"></i>
  		</a>
  		<a class="btn btn-default btn-sm" href="{{ site.url }}/atom.xml">
			<i class="fa fa-rss fa-lg"></i>
  		</a>
  		<a class="btn btn-default btn-sm" href="mailto:dieter@vanpeerdevelopment.be">
			<i class="fa fa-envelope fa-lg"></i>
  		</a>
	</div>
</div>			